<div class="container-menu">
  <div class="sidebar">
    <ul class="nav-links">
      <li (click)="changeComponent('resumen')">
        <img class="icon-menu" src="./../../../assets/icons/resumen.svg" alt="Resumen"><span class="link-name">Resumen</span>
      </li>
      <li (click)="changeComponent('proyectos')">
        <img class="icon-menu" src="./../../../assets/icons/proyectos.svg" alt="Proyectos" ><span class="link-name">Proyectos</span>
      </li>
      <li (click)="changeComponent('uso')">
        <img class="icon-menu" src="./../../../assets/icons/estadisticas.svg" alt="Estadísticas de uso" ><span class="link-name">Estadísticas de uso</span>
      </li>
      <li (click)="changeComponent('configuracion')">
        <img class="icon-menu" src="./../../../assets/icons/configuraciones.svg" alt="Configuraciones" ><span class="link-name">Configuraciones</span>
      </li>
      <li (click)="changeComponent('nuevoProyecto')">
        <img  class="icon-menu"src="./../../../assets/icons/nuevoproyecto.svg" alt="Nuevo proyecto" ><span class="link-name">Nuevo proyecto</span>
      </li>
      <li (click)="changeComponent('Usuario')">
        <img class="icon-menu" src="./../../../assets/icons/usuario.svg" alt="Usuario" ><span class="link-name">Usuario</span>
      </li>
      <li (click)="changeComponent('soporteyAyuda')">
        <img class="icon-menu" src="./../../../assets/icons/soporte.svg" alt="Soporte y Ayuda"><span class="link-name">Soporte y Ayuda</span>
      </li>
    </ul>
  </div>
</div>

