/* Definición de la grilla */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  
  .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
  
  /* Clases para cada tamaño de columna */
  .col-1 { flex: 0 0 8.33%; }
  .col-2 { flex: 0 0 16.66%; }
  .col-3 { flex: 0 0 25%; }
  .col-4 { flex: 0 0 33.33%; }
  .col-5 { flex: 0 0 41.66%; }
  .col-6 { flex: 0 0 50%; }
  .col-7 { flex: 0 0 58.33%; }
  .col-8 { flex: 0 0 66.66%; }
  .col-9 { flex: 0 0 75%; }
  .col-10 { flex: 0 0 83.33%; }
  .col-11 { flex: 0 0 91.66%; }
  .col-12 { flex: 0 0 100%; }
  
  /* Clases para manejar la visibilidad */
  .hidden-xs { display: none; }
  .visible-xs { display: block; }
  
  /* Estilos base para móviles: 4 columnas */
  @media (max-width: 767px) {
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
      flex: 0 0 100%; /* Todos toman el 100% del ancho */
    }
  }
  
  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular-webfont.woff2') format('woff2'),
         url('../fonts/poppins-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  :root {
    /* Familias de fuentes */
    --font-primary: 'Poppins', sans-serif;
    
    /* Pesos de fuentes */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    
    /* Tamaños de fuente */
    --font-size-base: 16px; /* Tamaño base para textos */
    --font-size-sm: 14px; /* Tamaño para textos pequeños */
    --font-size-lg: 18px; /* Tamaño para textos grandes */
    
    /* Altura de línea */
    --line-height-base: 1.5;
}