<div class="base" [class.menu-compact]="isMenuCompact">
<div class="row">
 
<div class="col-3">
    <app-menu-app></app-menu-app>
</div>
<div class="col-9">
    <!-- Resumen-->
    <div  class="container-contenido" >
        <div *ngIf="currentComponent === 'resumen'">
          <app-resumen (navigate)="onNavigate($event)"></app-resumen>
        </div>
     <!-- Proyecto-->
    <div *ngIf="currentComponent === 'proyectos'">
     <app-proyectos></app-proyectos>
    </div>
     <!-- Estadísticas de uso-->
     <div *ngIf="currentComponent === 'uso'">
        <app-uso></app-uso>
    </div>
      <!-- Configuraciones-->
      <div *ngIf="currentComponent === 'configuracion'">
      <app-configuracion></app-configuracion>
      
    </div>
     <!-- Nuevo Proyecto-->
     <div *ngIf="currentComponent === 'nuevoProyecto'">
        <app-nuevo-proyecto></app-nuevo-proyecto>
     </div>
      <!-- Usuario-->
      <div *ngIf="currentComponent === 'Usuario'">
       <app-usuario></app-usuario>
     </div>
      <!-- Soporte y ayuda-->
      <div *ngIf="currentComponent === 'soporteyAyuda'">
        <app-soporte-ayuda></app-soporte-ayuda>
     </div>
    </div>
</div>
</div>

  
</div>
